<!doctype html>
<html>

<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
	var socket = io.connect();

	$(document).ready(function(){
		$("#submit").click(function(){
			socket.emit("say", {data:$("#say").val()});
			saysome();



		});

		socket.on("tosay", function(data){
			//alert(data.data);
			var content = $("#content").html();
			content = content + "</br>";
			$("#content").html(content+ "别人说：" + data.data);
		});

	});

	function saysome(){
		var content = $("#content").html() + "</br>";
		$("#content").html(content + "我说：" + $("#say").val());
		$("#say").val("");

	}

</script>


<input type='text' id='say' />
<input type='submit' id='submit' />
<div>
	<span id='content'></span>
</div>
</html>