<!doctype html>
<html>

<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
	var socket = io.connect();
	var user = $.cookie('user');
	$(document).ready(function(){
		
		socket.emit("online", {user: user});
		socket.on("online", function(data){
			//alert(data.users);
			var userlist = "";
			for (var i = data.users.length - 1; i >= 0; i--) {
				userlist = data.users[i] + userlist + "</br>";
			};
			$("#onlinelist").html(userlist);
		});

		// socket.on("offline", function(data){
		// 	$("#onlinelist"),html(data.users);
		// })

		$("#submit").click(function(){

			socket.emit("say", {data:$("#say").val()});
			saysome();

		});

		socket.on("tosay", function(data){
			//alert(data.data);
			var content = $("#content").html();
			content = content + "</br>";
			$("#content").html(content+ "别人说：" + data.data);
		});


	});

	function saysome(){
		var content = $("#content").html() + "</br>";
		$("#content").html(content + "我说：" + $("#say").val());
		$("#say").val("");

	}


</script>


<input type='text' id='say' />
<input type='submit' id='submit' />
<div>
	<div style="float: left; ">
		<span id='content'></span>	
	</div>
	<div style="float: left; " >
		在线上的人
		<span id='onlinelist'></span>	
	</div>
</div>
</html>